*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #535c68;
}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}

.wrapper h3{
    color: #fff;
    font-size: 43px;
    margin-bottom: 45px;
    font-weight: 400;
}

.box .btn{
    background: #22a6b3;
    color: #fff;
    padding: 16px 25px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 17px;
    margin-right: 25px;
    cursor: pointer;
}

img{
    height: 470px;
    width: 700px;
    cursor: pointer;
 
}

.dot{
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.dot-container{
    display: flex;
    gap: 15px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

}

.active{
    background-color: red;
}

.slider{
    height: 470px;
    width: 700px;
    position: relative;
    overflow: hidden;
}

span{
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
}
.nextBtn{
right: 18px;
}

.pervBtn{
left: 18px;
}

.slides{
    display: flex;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}