*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #535c68;
}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 85vh;
    justify-content: center;
    align-items: center;
}

.wrapper h3{
    color: #fff;
    font-size: 43px;
    margin-bottom: 45px;
    font-weight: 400;
}

.btn{
    background: #22a6b3;
    color: #fff;
    padding: 16px 25px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 17px;
    margin-right: 25px;
    cursor: pointer;
}

img{
    height: 470px;
    width: 700px;
    cursor: pointer;
 
}

.dot{
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.dot-container{
    display: flex;
    gap: 15px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

}

.active{
    background-color: red;
}

.slider{
    height: 470px;
    width: 700px;
    position: relative;
    overflow: hidden;
}

span{
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
}
.nextBtn{
right: 18px;
}

.pervBtn{
left: 18px;
}

.slides{
    display: flex;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.slides2{
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

@media (max-width:750px) {
    .slider {
        width: 700px;
    }
    img{
        width: 700px;
    }
    
}

@media (max-width:715px) {
    .slider {
        width: 630px;
    }
    img{
        width: 630px;
    }
    
}

@media (max-width:670px) {
    .slider {
        width: 540px;
    }
    img{
        width: 540px;
    }
    
}

@media (max-width:565px) {
    .slider {
        width: 500px;
    }
    img{
        width: 500px;
    }
    
}
@media (max-width:515px) {
    .slider {
        width: 470px;
    }
    img{
        width: 470px;
    }
    
}
@media (max-width:480px) {
    .slider {
        width: 400px;
    }
    img{
        width: 400px;
    }
}
@media (max-width:420px) {
    .slider {
        width: 350px;
    }
    img{
        width: 350px;
    }
    
}
@media (max-width:370px) {
    .slider {
        width: 300px;
    }
    .box{
        display: flex;
        flex-direction: column;
        gap: 17px;
    }
    .wrapper h3 {
        text-align: center;
    }

    img{
        width: 300px;
    }
    
}